# Python
__pycache__/
*.py[cod]

# Virtual Environment
backend/venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Django
backend/db.sqlite3
backend/media/

# Python cache
**/__pycache__/
*.pyc

# Node
frontend/node_modules/
db_backup.sqlite3